*.pkl
*.out
*.err
*.fasta
*.csv
*.tsv
*.png
*.sbml
.vscode/
__pycache__/
remove_rxn_exp/result_*.txt
*.xml
*.gb
*.tar.gz
*.sh
*.txt
*.json
*.pickle
cobra.yml
clean.yml
env_cobra.yml
newrxn_belowthre/
krish/
casestudy/
bigg/
tiannv/



